h1 {
	color: green;
	text-align: right;
	margin: 0;
}

.margin {
	margin: 20px;
}

.color-primary {
	color: yellow;
	background-color: red;
	padding: 30px;
	margin: 50px;
}

#title {
	font-weight: 300;
	color: gray;
}

div {
	background-color: red;
	color: white;
}

.inline {
	display: inline;
	background-color: gray;
}

.block {
	display: block;
	color: green;
}

.flex {
	display: flex;
	/* flex-direction: row; */
	flex-direction: column;
	padding: 20px;
}

button {
	background-color: purple;
}

button:hover {
	background-color: green;
}


/* img {
	width: 900px;
} */
